<div class="jumbotron">
  <h1>About Us</h1>
  <p>Sandy &amp; Jayson's Pineresting App</p>
  <h2>Purpose</h2>
<p>This is the a precursor to our Entreuse App formerly known as <%= link_to "Mediapack PDQ", "http://mediapackpdq.com" %></p>
</div>

