<div class="jumbotron">
  <h1>Entreuse Publicity Hacking App</h1>
  <p>Click here to <%= link_to "Sign Up", signup_path, class: "btn-primary btn-lg" %></p>
  <p>OR</p>
  <p>Click here to <%= link_to "Sign in", signin_path, class: "btn-primary btn-lg" %></p>
  <p>made by Jayson Perry</p>
  <p class="text-center"><b><i>Entreuse is a publicity hacking application</b></i> for anyone who has anything to launch!</p>
</div>