<div class="jumbotron">
  <h1 class="center bot-margin-lg">Entreuse Publicity Hacking App</h1>
  <p>Click here to <%= link_to "Sign Up", signup_path, class: "btn-primary btn-lg" %> OR click here to <%= link_to "Sign in", signin_path, class: "btn-info btn-lg" %></p>
  <p>made by Jayson Perry</p>
  <p class="center"><b><i>Entreuse is a publicity hacking application</b></i> for anyone who has anything to launch!</p>
</div>